In [1]:
"""mongodb+srv://jashsuke:jashsuke@cluster0.prqth.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"""

'mongodb+srv://jashsuke:jashsuke@cluster0.prqth.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0'

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")
pd.pandas.set_option("display.max_columns", None)
# Create Dataframe
df = pd.read_excel(r"card.xls")
# Print shape of dataset
print(df.shape)

(30000, 24)

In [4]:
df.drop_duplicates(inplace=True)

In [5]:
df.columns

Index(['LIMIT_BAL', 'SEX', 'EDUCATION', 'MARRIAGE', 'AGE', 'PAY_0', 'PAY_2',
       'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6', 'BILL_AMT1', 'BILL_AMT2',
       'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1',
       'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6',
       'default payment next month'],
      dtype='object')

In [6]:
print(df.shape)

(29965, 24)

In [7]:
data = df.to_dict(orient='records')

In [8]:
DB_NAME='credit_card_db'
COLLECTION_NAME='credit_card_collection'
COLLECTION_URL='mongodb+srv://jashsuke:jashsuke@cluster0.prqth.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0'

In [9]:
import pymongo

In [10]:
client=pymongo.MongoClient(COLLECTION_URL)
database_name=client[DB_NAME]
collection_name=database_name[COLLECTION_NAME]
rec=collection_name.insert_many(data)

In [11]:
df1=pd.DataFrame(list(collection_name.find()))
df1.head()

,_id,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,PAY_6,BILL_AMT1,BILL_AMT2,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
0,66dd4d2db3fe2c76ae54fd10,20000,2,2,1,24,2,2,-1,-1,-2,-2,3913,3102,689,0,0,0,0,689,0,0,0,0,1
1,66dd4d2db3fe2c76ae54fd11,120000,2,2,2,26,-1,2,0,0,0,2,2682,1725,2682,3272,3455,3261,0,1000,1000,1000,0,2000,1
2,66dd4d2db3fe2c76ae54fd12,90000,2,2,2,34,0,0,0,0,0,0,29239,14027,13559,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
3,66dd4d2db3fe2c76ae54fd13,50000,2,2,1,37,0,0,0,0,0,0,46990,48233,49291,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
4,66dd4d2db3fe2c76ae54fd14,50000,1,2,1,57,-1,0,-1,0,0,0,8617,5670,35835,20940,19146,19131,2000,36681,10000,9000,689,679,0

In [12]:
if '_id' in list(df1.columns):
    df1=df1.drop(columns='_id',axis=1)